<header>
  <% if ( user_id ) { %>
  <form method="POST" action="/user/logout">
    Loged in: <input readonly="true" name="logInUserName" value="<%= user_id %>">
    <input type="submit" value="Logout">
  </form>
  <% } else { %>
  <table>
    <td>
      <form method="GET" action="/user/login">
        Press here to login
        <input type="submit" value="Login">
      </form>
    </td>
    <td>
      <form method="GET" action="/user/register">
        If you don't have an account, click here!
        <input type="submit" value="Register">
      </form>
    </td>
  </table>
  <% } %>
</header>