<header>
  <p> Loged in: <input readonly="true" name="logInUserName" value="<%= username %>"> </p>

  <form method="POST" action="/login" type="text">
    <input type="text" placeholder="Username" name="username">
    <input type="submit" value="Login">
  </form>
</header>