<!DOCTYPE html>
<html>
<% include partials/_head %>
<body>
    <form method="POST" action="/user/login">
      <input type="email" placeholder="Email" name="email">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" value="Login">
    </form>
  <% include partials/_footer %>
</body>

</html>