<!DOCTYPE html>
<html>

<head>
  <% include partials/_head %>
</head>

<body>
  <form method="POST" action="/user/register">
    <input id="username" type="text" name="username" placeholder="Username">
    <input id="email" type="email" name="email" placeholder="E-mail">
    <input id="password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
  </form>
  <% include partials/_footer %>
</body>

</html>